body {
  background-color: #FEFAE0;
}

h1 {
  text-align: center;
  color: #819067;
}

.home-link {
  display: block;
  text-align: center;
}

#recipe-index {
  display: inline;
  text-align: center;
}

a {
  color: #A08963  
}